#countlabel{
    display: block;
    text-align: center;
    font-size: 5cm;
    font-family:  Helvetica;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1cm;
    color: white;
    background-color:rgb(57, 57, 125);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(20, 20, 98);
}